/** {
    border: 1px solid red;
}*/

body {
    background: linear-gradient(rgba(255,255,230,0.5),rgba(255,255,230,0.51)), url('http://subtlepatterns.com/patterns/geometry2.png');
    overflow: hidden;
}

.btnLocation {
    font-size: 1.5rem;
    font-weight: normal;
    background-color: #fee567;
    color: #444;
    text-align: center;
    padding: 30px;
    margin: 1.5rem 0;
    border: 3px solid orange;
    border-radius: 5px;
    display: inline-block;
    transition-duration: 1s;
}

.modal-content{
    height:100%;
}

#mapid {
    height: 220px;
    margin: 0 0 1rem 0;
}

.hint{
    margin:0 0 0.5rem 0;
}

.fakecontainer{
    max-width:1140px;
    margin: auto;
}

    .btnLocation:hover {
        background-color: #f5be2e;
        border: 3px solid transparent;
        color: #444;
        box-shadow: 0px 0px 10px 1px #444;
        transition-duration: 0.5s;
    }

.wrapper {
    width: 90%;
    margin: 0 auto;
    max-width: 80rem;
}

.cols {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    /*height: 450px;*/
}

.col {
    width: calc(25% - 2rem);
    margin: 1rem;
    margin-bottom: 3rem;
    cursor: pointer;
}

.container {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-perspective: 1000px;
    perspective: 1000px;
}

.front, .back {
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.25);
    border-radius: 5px;
    background-position: center;
    -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    text-align: center;
    min-height: 30vh;
    height: auto;
    border-radius: 10px;
    color: #fff;
    font-size: 1.5rem;
}

.back {
    background: #cedce7;
    background: -webkit-linear-gradient(10deg, #cedce7 0%,#f3e4c6 100%);
    background: -o-linear-gradient(10deg, #cedce7 0%,#f3e4c6 100%);
    background: linear-gradient(50deg, #cedce7 0%,#f3e4c6 100%);
    color: #444;
}

.front:after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    content: '';
    display: block;
    opacity: 0.6;
    background-color: #000;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 10px;
}

.container:hover .front,
.container:hover .back {
    -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.inner {
    -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
    transform: translateY(-50%) translateZ(60px) scale(0.94);
    top: 50%;
    position: absolute;
    left: 0;
    width: 100%;
    padding: 2rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: 1px solid transparent;
    -webkit-perspective: inherit;
    perspective: inherit;
    z-index: 2;
}

.container .back {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.container .front {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.container:hover .back {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.container:hover .front {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.front .inner p {
    font-size: 2rem;
    margin-bottom: 2rem;
    position: relative;
}

    .front .inner p:after {
        content: '';
        width: 4rem;
        height: 2px;
        position: absolute;
        background: #C6D4DF;
        display: block;
        left: 0;
        right: 0;
        margin: 0 auto;
        bottom: -.75rem;
    }

.front .inner span {
    color: rgba(255,255,255,0.7);
    font-family: '·L³n¥¿¶ÂÅé';
    font-weight: 300;
}

.resultbox {
    border-radius: 5px;
    justify-content: space-evenly;
    padding: 20px 10px;
    margin:20px 0 70px 0;
    background-color: #fff;
    box-shadow: 0 0 8px 2px rgba(0,0,0,0.25);
    transition-duration: 1s;
    height:350px;
    position:relative;
}

    .resultbox:hover {
        box-shadow: 0 0 8px 2px #cc9922;
        transition-duration: 0.3s;
    }

#UserBlock {
    width: 40%;
}

.btn-block {
    width: auto;
    margin-top: 0rem !important;
}

.content {
    width: 520px;
    height: 150px;
    margin: 0 auto;
    overflow: hidden;
    text-overflow: ellipsis;
    /* background-color: rgba(20, 80, 220, 0.746); */
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    margin-bottom: 20%;
}

.card-text {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    text-align:center;  
    -webkit-box-orient: vertical;
}

.btnContent {
    background-color: #fee567;
    border-radius: 5px;
    box-shadow: 0 0 2px 2px rgba(0,0,0,0.25);
}

#btnDiv{
    text-align:right;
}

.mImg{
    position:absolute;
    height:90%;
    width:100%;
    background-size:cover;
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-position:center;
}

.mTitle {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    text-align:center;
    -webkit-box-orient: vertical;
}

section {
    padding: 0 0;
    transition: 0.6s ease-out;
    transform: scale(0.9, 0.9);
    opacity: 0;
    height: 0;
    overflow-y: hidden;
    position: absolute;
    /*top: 900px;*/
    width: 100%;
}

section.active {
    transform: scale(1, 1);
    opacity: 1;
    height: auto;
}

@media screen and (max-width: 64rem) {
    .col {
        width: calc(33.333333% - 2rem);
    }
}

@media screen and (max-width: 48rem) {
    .col {
        width: calc(50% - 2rem);
    }
}

@media screen and (max-width: 32rem) {
    .col {
        width: 100%;
        margin: 0 0 2rem 0;
    }
}