* {
    /*border: 1px solid red;*/
}

a {
    color: #212529;
}

body {
    height: 100%;
    background-color: #fffef4;
    padding-right: 0 !important;
}

span {
    font-size: 18px;
}

.NowPage {
    /*現在頁數樣式*/
    background-color: yellow;
}

.fc-event-main-frame { /*行事曆樣式*/
    cursor: pointer;
}

.calendar_fix {
    width: 22%;
    position: fixed;
    right: 0%;
}

.calendar_relative {
    width: 80%;
    margin-bottom: 20%;
}

.pagination > .active > span {
    color: black !Important;
    background-color: #fee567 !Important;
    border: solid 1px #fee567 !Important;
}

.pagination > li > a {
    background-color: white;
    color: black;
}

#labelTop {
    z-index: 999;
    position: fixed;
    right: 9%;
    bottom: 5%;
}


/*.combine_readmore {
    
}*/
/*.modal-backdrop {
    background-color: red;
}*/
.get_map {
    z-index: 1051;
}

.combine_join {
    z-index: 1051;
}

.combine_msg {
    z-index: 1051;
}

.combine_score {
    z-index: 1051;
}

.combine_edit {
    z-index: 1051;
}


/*彈出視窗窗格高度設置*/
.modal-dialog,
.modal-content {
    /* 95% of window height */
    height: 95%;
    padding-left: 20px;
    padding-right: 20px;
}

.modal-body {
    /* 100% = dialog height, 120px = header + footer */
    /*max-height: calc(100% - 120px);*/
    overflow-y: scroll;
}

p {
    margin-bottom: 5px;
    text-align: center;
}

.nav-travel {
    background-color: #fee567;
    border-radius: 20px;
}

.btn-secondary {
    background-color: #222222;
}

.btnContent {
    background-color: #f5be2e;
}

#travel_sort .sort li {
    /*border-bottom: solid;
    border-top: solid;*/
    border-width: 4px;
    border-style: solid;
    border-color: white;
    width: 83.5%;
    padding-left: 0.5%;
    padding-right: 0.5%;
    /*border-radius:10%;*/
    transition-duration: 0.3s
}

.modal {
    padding-right: 0px !important;
}

.modal-body input {
    margin: 10px !important;
}

.modal-header {
    /*padding-left: 35px;*/
}
/*隱藏scroll bar*/
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
/*modal專用滾輪*/
.modal-body::-webkit-scrollbar {
    width: 10px;
}

.modal-body::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.modal-body::-webkit-scrollbar-thumb {
    background: #888;
}

    .modal-body::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
/* Optional: show position indicator in red */
/*::-webkit-scrollbar-thumb {
    background: #FF0000;
}*/
.change-max-width-550 {
    max-width: 550px;
}

.change-max-width-1000 {
    width: 1000px;
    max-width: 1000px;
}

#need_login {
    overflow-y: hidden;
}


.change-max-width-1000 .textBox {
    height: 382px;
    overflow-y: scroll;
}

.the_msg_block {
    width: 75%;
}

.the_msgs {
    width: 70%;
    overflow-x: hidden;
}

.change-max-width-1400 {
    max-width: 1480px;
}

.change-max-width-1420 {
    max-width: 1420px;
}

.Travel_border {
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 4px 2px rgb(200, 200, 200);
    transition-duration: 1s;
    background-color: #fff;
}

    .Travel_border:hover {
        box-shadow: 0px 0px 12px 2px #cc9922;
        transition-duration: 0.5s;
    }

.border-main-color {
    border-color: #ff5b45;
}

.border-second-color {
    border-color: rgb(255,224,178);
}

#temp {
    text-align: right;
}

.fix {
    position: fixed;
}

.fix-right {
    position: fixed;
    right: 0;
    margin: 0 auto;
}

.display {
    display: none;
}

.content {
    /* margin: 0 auto; */
    overflow: hidden;
    text-overflow: ellipsis;
    /* border-color:#fde57a */
    /* background-color: rgba(20, 80, 220, 0.746); */
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

.join_user_name {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 50px;
    height: 29px;
    /* border-color:#fde57a */
    /* background-color: rgba(20, 80, 220, 0.746); */
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.user_name {
    /* margin: 0 auto; */
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100px;
    /*height: 29px;*/
    /* border-color:#fde57a */
    /* background-color: rgba(20, 80, 220, 0.746); */
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.content-title {
    /* margin: 0 auto; */
    overflow: hidden;
    text-overflow: ellipsis;
    /* border-color:#fde57a */
    /* background-color: rgba(20, 80, 220, 0.746); */
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.btn {
    border: 1px solid;
}

.btn-block {
    width: auto;
    margin-top: 0rem !important;
}

.btn-lg {
    width: 330px;
}

.form-control {
    width: 350px;
}

.wrapper {
    margin-bottom: 80px;
}

.center {
    max-width: 380px;
    margin: 0 auto;
}

.form-signin {
    max-width: 380px;
    padding: 15px 15px 30px;
    margin: 0 auto;
    background: #ebd3a5c0;
    border: 1px solid rgba(0,0,0,0.1);
}

.form-signin-heading,
.checkbox {
    text-align: center;
    margin-bottom: 20px;
}

.checkbox {
    font-weight: normal;
}

.form-control {
    font-size: 16px;
    height: auto;
    padding: 10px;
    border-radius: 0;
}

    .form-control:focus {
        color: #495057;
        background-color: #fff;
        border-color: #80bdff;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
        position: relative;
        z-index: 999;
    }

input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
#activity_content p{
    margin:0 auto;
}

#mapid {
    height: 600px;
    margin: 0 0 1rem 0;
    width: 100%
}
