html, body {
    background: linear-gradient(rgba(255,255,230,0.5),rgba(255,255,230,0.51)), url('http://subtlepatterns.com/patterns/geometry2.png');
}

body {
    background-repeat: repeat-x;
}

h1{
    text-align: center;
}

fieldset{
    width: 1000px;
    margin: auto;
    border:1px solid #ADADAD;
}
legend{
    margin-bottom: 3rem;
    width: 100px;
    text-align: center;/*標題置中*/
}
.st1 {
    border-bottom: 3px solid #F0F0F0;
    margin: 10px;
    padding-bottom: 10px;
}
.st2{
    margin-left: 23%; 
}

.sub {
    margin: 20px;
    text-align: center;
    /*置中*/
}

.t1 {
    width: 100px;
    float: left;
    text-align: right;
    

}

textarea {
    resize: none;
}

.words{
    color: #d8d278;
    font-size: 100px;
    letter-spacing: 10px;
    position: absolute;
    top:50%;
    left: 30%;
}
.imgw{
    position: relative;
}
select{
    width:200px;
    padding:1px;
}

.op{
    margin:0px 34% 0px; 

}
.pb{
    text-align:center ;
    margin:0 auto;
    background-color: rgb(131, 128, 125);
    color: white;
}
span {
    color: red;
    font-size: 80%;
}

